*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Windows WSL metadata
*:Zone.Identifier

# Kotlin build cache
.kotlin/

# Android
app/build/
*.apk

# Gradle wrapper cache
gradle-cache/
